@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Pacifico&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Pacifico&family=Rye&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Momo+Trust+Display&family=Pacifico&family=Rye&family=Stack+Sans+Headline:wght@200..700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(rgb(75 0 129), rgb(255 255 255));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: "Pacifico";
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 25px;
}
.container{
    width: 60%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px white;
    border-radius: 25px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.preenchedor{
    height: 5%;
}
button{
    margin: 0 auto 10px auto;
    display: flex;
    transition: 0.4s;
    background-color: rgb(103, 0, 171);
    padding: 10px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}
footer{
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    text-align: center;
    font-size: 25px;
    font-family: "Momo Trust Display", sans-serif;
    color: white;
}
@media screen and (max-width: 768px) { 
    h1{
        font-size: 40px;
    }
    .container{
        width: 80%;
        height: 300px;
    }
}